{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styleIndex.css' %}" type="text/css">
    <title>Login</title>
</head>
<body>
    <div id="vLogin">
        <img src="{% static 'img/img1.png' %}" alt="">
        <p>MESA DE AYUDA</p>
        <p>Registrate o inicia sesion para poder solicitar soporte al area de IT</p>
    </div>
    <div class="login">
        <form method="POST" class="fLogin">
            {% csrf_token %}
            <h2 id="title">LOGIN</h2>
            <div>{{ form.user }}</div>
            <div>{{ form.password }}</div>
            <label>¿Olvido su contraseña?</label>
            <div>
                {{ form.iniSesion }}
                {{ form.registro}}
            </div>
        </form>
    </div>
</body>
</html>
