{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styleIndex.css' %}" type="text/css">
    <title>Login</title>
</head>
<body>
    
    <div class="login">
        <label>LOGIN</label>
        <div>     
        <form method="POST">
            {% csrf_token %}
            <div>{{ form.user }}</div>
            <div>{{ form.password }}</div>
            <label>¿Olvido su contraseña?</label>
            <div>{{ form.iniSesion }}</div>
            <div>{{ form.registro}}</div>
        </form>
        </div> 
    </div>
</body>
</html>
