{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styleRegistro.css' %}" type="text/css">
    <title>Registro</title>
</head>
<body>
    {{error}}
    <form method="POST" class="fregistro">
        {% csrf_token %}
        <h1 id="title">Registro</h1>
        {{ form }}
        <button  type="button" class="boton" id="bVol" onclick="location.href='{% url 'signin' %}'">Volver</button>
    </form>
</body>
</html>