{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styleSignup.css' %}" type="text/css">
    <title>Login</title>
</head>
<body>
    <div id="vLogin">
        <img src="{% static 'img/img1.png' %}" alt="" id="imglog">
        <h1 id="lblTitle1">SOPORTE TECNICO</h1>
    </div>
    <div class="login">
        <form method="POST" class="fLogin">
            {% csrf_token %}
            <h1 id="lblTitle2">BIENVENIDO</h1>
            <hr class="sep1">
            <div class="entry">{{ form.user }}</div>
            <div class="entry">{{ form.password }}</div>
            <hr class="sep1">
            <div>
                {{ form.iniSesion }}
                <button type="button" class="boton" id="bReg" onclick="location.href='{% url 'registro' %}'">Registros</button>
            </div>
        </form>
        <a href="#" class="passw"><h4>¿Olvido su contraseña?</h4></a>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>
